{{#registerBlock "descripcionlist"}}
            <dt class="clase-a">{{$term}}:</dt>
            <dd class="clase-b">{{$description}}</dd>
            //etc
            <h1>etc</h1>
{{/registerBlock}}